@using CourseWorkClinic.App_Data

@{
    ViewBag.Title = "Добавление расписания";

    ClinicEntities entities = new ClinicEntities();

    IEnumerable<CourseWorkClinic.Models.DoctorList> model = (from Врачи in entities.Врачи
                                                             join Сотрудники in entities.Сотрудники on Врачи.ID_сотрудника equals Сотрудники.ID_сотрудника
                                                             join Специальности in entities.Специальности on Врачи.Код_специальности equals Специальности.Код_специальности

                                                             let p = new CourseWorkClinic.Models.DoctorList
                                                             {

                                                                 Id_врача = Врачи.ID_врача,

                                                                 Фамилия = Сотрудники.Фамилия,
                                                                 Имя = Сотрудники.Имя,
                                                                 Отчество = Сотрудники.Отчество,
                                                                 Специальность = Специальности.Наименование,
                                                                 Код_специальности = Специальности.Код_специальности



                                                             }
                                                             select p).ToList();
}

<section id="addSheduleForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) 
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Добавление записи расписания</legend>
            <ol>
                @*<li>
                    @Html.Label("Специальность")
                    @Html.DropDownList("SpecialityList", new SelectList(model.Select(x => new { Id = x.Код_специальности, Text = x.Специальность }).ToList(), "Id", "Text"))
                </li>*@
                <li>
                    @Html.Label("ФИО врача")
                    @Html.DropDownList("DoctorList", new SelectList(model.Select(x => new { Text = x.Фамилия + " " + x.Имя + " " + x.Отчество + "  " + x.Специальность, Id = x.Id_врача }).ToList(), "Id", "Text"))
                </li>
                <li>
                    @Html.Label("Понедельник:")
                    @Html.TextBox("mondayBox", null)
                    @Html.Label("Каб №:")
                    @Html.TextBox("mondayKab", null)
                </li>
                <li>
                    @Html.Label("Вторник:")
                    @Html.TextBox("tuesdayBox", null)
                    @Html.Label("Каб №:")
                    @Html.TextBox("tuesdayKab", null)
                </li>
                <li>
                    @Html.Label("Среда:")
                    @Html.TextBox("wednesdayBox", null)
                    @Html.Label("Каб №:")
                    @Html.TextBox("wednesdayKab", null)
                </li>
                <li>
                    @Html.Label("Четверг:")
                    @Html.TextBox("thursdayBox", null)
                    @Html.Label("Каб №:")
                    @Html.TextBox("thursdayKab", null)
                </li>
                <li>
                    @Html.Label("Пятница:")
                    @Html.TextBox("fridayBox", null)
                    @Html.Label("Каб №:")
                    @Html.TextBox("fridayKab", null)
                </li>
                <li>
                    @Html.Label("Суббота:")
                    @Html.TextBox("saturdayBox", null)
                    @Html.Label("Каб №:")
                    @Html.TextBox("saturdayKab", null)
                </li>
            </ol>
            <input type="submit" value="Добавить" />
        </fieldset>
    }
</section>